.info_buttons{
	cursor: pointer !important;
}

.preview_tour_additional
{
    max-width: 100%;    
}

.additional_labels
{
    text-align: left;
}

.carousel-item img
{
    cursor: pointer;
    box-shadow:none;
}

.carousel-item{
    padding-top: 10px;
    padding-bottom: 10px;
}

.selected-item > .card > .card-img > .img-fluid {
    box-shadow: 0 0 15px red, inset 0 0 20px red;
}

.carousel-item img:hover {
    box-shadow: 0 0 5px #1d78c7, inset 0 0 10px #1d78c7;
}

.gsl_co
{
    text-align: right;
}

#terms_condition small
{
    font-size: 0.6rem;
    line-height: 0.3rem;
}

.subtotal_parent
{
    border-bottom: 4px solid black;
}

#quote_table thead{
    border-bottom: 4px solid black;
}

#quote_table
{
    border-bottom: 4px solid black !important;
    border-top: 4px solid black !important;
}

#quote_table > thead > tr > th{
    text-transform: uppercase;
}
.client_contact
{
    line-height: 0.8rem;
}

.date_issued span
{
    border-bottom: 1px solid black;
}



.br_no_height
{
    line-height: 0 !important;
    display: block;
    margin: 10px 0;
}

.summary_title
{
    background: #1d78c7;
    text-align: left;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    font-style: italic;
    padding-left: 10px;
}

.quote_rows
{
    margin:0;
}

#quote_summary_container
{
    border : 2px solid black;
}

#quote_summary_container > .row > div > img
{
    max-height: 100px;
}

#quote_contact
{
    border-bottom: 1px solid black;
    border-left: 8px solid yellow;
    line-height: 1rem;
}

.quote_logo
{
    max-width:100%;
}

#partner_title
{
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

.carousel-control-next
{
    right: -15px;
}

.carousel-control-prev
{
    left: -15px;
}


#tooltip
{
    color: blue;
    text-align: left;
    width: 100%;
}

#optional
{
    text-align: center;
}

#filter_nav
{
    display: flex;
    justify-content: center;
}

#filter_nav > li > a.active {
    border-bottom: 3px solid black;    
}

.filter_region
{
    cursor: pointer;
}

body
{
    background-color: white;
    background-image: none;
}

.price-details
{
    padding:5px;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.price-value
{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.price-days
{
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.price-tag {
    display: flex;
  justify-content: center;
  align-items: center;
    position: absolute;
    bottom: -1px;    
    left: -1px;    
    transform: translate(-0%,0%);    
    width: 120px;    
    height: 120px;    
    border-radius: 50%;    
    background-color:#fff97a;    
    background-repeat: no-repeat;
    padding: 8px;
  }

.img-fluid {
    width: 300px;
    height: 300px;

    border-radius: 50%;
    overflow: hidden;
    /*background-color: blue;*/
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */
    
    /*for demo*/
    display:inline-block;
    vertical-align:middle;
  }
  
  .img-fluid img {
    width: 100%;
  }

#form_parent
{
    padding-right : 40px;
    padding-left : 40px;
    padding-bottom : 10px;
    padding-top : 20px;
    background-color: #303471;
}

#destinations_title, #optional_title
{
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.input-group-text
{
    background-color: #fff97a;
}

form .row
{
    margin-bottom: 10px;
}


@media (max-width: 600px) {
    .hide_on_small_screen {
      display: none;
    }
  }

#book_button{
    width: 100%;    
}


/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

#currentTabTitle{
    text-align: center;
}

.tab, .card{
    background-color: #e3e8e8;
}

.tab{
    padding: 10px;
}

.card{
    border-color:#e3e8e8;    
}


.info_buttons{
    color: black;
}

  /* For carousel*/
  @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.carousel-control-prev,
.carousel-control-next
{
  width: 4%;
  background-color: #00000085 !important;
}

#carousel_items_container
{
  left:1.5%
}