


@import url(https://fonts.googleapis.com/css?family=Open+Sans);


/* .navbar
{
    padding-top: 80px;
} */

.nav-link
{
    color:gray;
    text-transform: uppercase;
    font-family: comfortaa;
}

.nav-link:hover
{
    color: cornflowerblue !important;
}

.nav-item{
    margin-left : 30px;
    margin-right : 30px;
}

.bg-light
{
    background-color: transparent;
}

.navbar-brand img
{
    max-width:100%;
    width:500px;
}
.navbar-brand
{
    max-width:50%;
}

body {
    background-image: url('..//images/photos/new_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-position-y:300px
}

/* FOOTER */

.page-footer{
    background-color: #333;
    color: white;
    font-size: 13px;
}

#footer_logo
{
    background-image: url('..//images/logo_white.png');
}

#dti_logo
{
    background-image: url('..//images/dti_logo.png');
}

.footer-logo
{
    min-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.social_btn
{
    color:white;
    font-size: 20px;
}

.copyright
{
    margin-bottom: 0;
    padding-bottom: 0;
}

/* NAV submenu */
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }


/* FONTS */

@font-face {
    font-family: comfortaa;
    src: url(..//fonts/Comfortaa-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: roboto;
    src: url(..//fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: opensans;
    src: url(..//fonts/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: bebas_neue;
    src: url(..//fonts/BebasNeue-Regular.ttf);
  }

/* Heading */

#heading
{
    text-transform: uppercase;
    font-weight: bold;
    font-family: bebas_neue;
    line-height: 0.7em;
    font-size: 10vw;
    /* letter-spacing: 20px; */
}

.subtitle
{
    font-family: opensans;
}

.centered-text
{
    text-align: center;
}
.navbar-nav
{
    margin-left: 0px !important;
}


.navbar-nav > li > a:hover {
    border-bottom: 3px solid black;
  }
  
  .navbar-nav > li.active > a {
    border-bottom: 3px solid black;
    ;
  }




[data-pnotify] .custom_success-elem, [data-pnotify] .custom_error-elem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.1;
  }
  
  [data-pnotify] .custom_success-container, [data-pnotify] .custom_error-container {  
    background-image: none;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
  }
  
  [data-pnotify] .custom_success-container
  {
      background-color: #000000ba;
  }
  
  [data-pnotify] .custom_error-container
  {
      background-color: #ff0000b3;
  }
  
  [data-pnotify] .custom_success-title, [data-pnotify] .custom_error-title,
  [data-pnotify] .custom_success-text, [data-pnotify] .custom_error-text {
    margin-left: 50px;
    color: #FFF;
  }
  
  [data-pnotify] .custom_success-title, [data-pnotify] .custom_error-title {
    font-weight: bold;
    font-size: 15px;
  }
  [data-pnotify] .custom_success-icon, [data-pnotify] .custom_error-icon {
    color: #FFA;
  }

  @media (max-width: 992px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}


