.video{
	max-width:100%;
}


.result_entry
{
    cursor: pointer;
}

.caption
{
    background-color: #f5fb75;
    padding: 10px;
}

.result_entry_image
{
    height: 180px;
    width: 100%;
}

#search-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
#search-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white;
}

#search-box::-ms-input-placeholder { /* Microsoft Edge */
color: white;
}

#addon-wrapping{
    color: white;
}



.destinations_title
{
    text-align: center;
    font-weight: bold;
}
.image_thumb
{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.81) !important;
    cursor: pointer;
    max-height: 320px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
    /* background-image:url(..//images/photos/local.jpg); 
    height: 200px;
    background-repeat: no-repeat; */
}

.destinations div{
	position:relative;
	text-align: center;
}

.p_destination{
    cursor: pointer;
    text-align: center;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    color:white;
    /* font-size: 40px; */
    font-weight: bold;
    text-shadow:black 2px 2px;
}

/* .image_thumb_container{
    display:table-cell; vertical-align:middle; text-align:center
} */

.destinations
{
    background-color: #ffffd3;
    
}



#search-box, #addon-wrapping
{
    color: white;
    border: double 3px transparent;
    border-radius: 6px;
    border-image-slice: 1;
    border-width: 3px;
    text-align: right;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    background-clip: padding-box, border-box;

    padding-bottom: 0;

    background: none;
  }

  #addon-wrapping
  {
      cursor: pointer;
	  background-color:blueviolet;
  }
  


.clipped
{
    padding: 30px;
    max-width: 100%;
	text-align: center;
	height : 100%;
	margin: auto;
	/* transform: translateX(20%); */
}


#row_front2
{background-color: white;}

.quote_front_1
{
  text-align: center;
}