/* Tour plan */
.stepTitle
{
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

.steps {
    clear: both;
    list-style: none;
    padding-left: 2%;
    
  }
  .steps li {
    width: 100%;
    margin: 2em 0;
    padding-left: 30px;
    display: inline-block;
    position: relative;
    counter-increment: inst;
    padding-top:   10px;
    padding-bottom:   10px;
    border-left: dotted 1px black;
  }
  .steps li::before {
    content: counter(inst);
    
    background: #00bcbd;
    color: #fff;
    
    font-size: 1em;
    font-weight: 700;
    text-shadow: 1px 1px #00bcbd;
    
    border-radius: 0 0.675em 0.675em 0;
    font-size: 1.5em;
    text-align: center;
    
    padding-top: 0;
    padding-left: 2.25%;
    left: -5%;
    top: -0.65em;
    height: 1.35em;
    width: 1.35em;
    position: absolute;
    
    transition: all 0.2s ease-in-out;
    
    z-index: -1;
  }
  @media (min-width: 33em) {
    .steps li:before {
      border-radius: 50%;
      font-size: 1.5em;
      height: 1.35em;
      margin-left: 2.5%;
      padding-left: 0;
      padding-top: 0;
      top: -0.15em;
      width: 1.35em;
      z-index: -1;
    }
  }


  /* Tour info Table */
#included li .green
{
    color: lime;
}

#not-included li .red
{
    color: red;
}

#included li, #not-included li
{border: none;}


.tour_info_value
{
    color: gray;
    width: 25%;
}

#info_container
{
    padding-top: 100px;
}

#info_table thead tr th
{
    display: none;
}

.value_as_table
{
    border:1px solid gray !important;
}

.value_as_table thead tr th
{
    /* display: block !important; */
    all: revert !important;
    background-color: gray !important;
    color:white !important;
    text-align: center !important;
}



/* .custom_button_icons
{

} */

#custom_bg1{
    position:relative;
    top:-10px;
    transform: scale(1.1);
    background-image: url(/images/pentagon.svg);
    background-size: contain;
}

.custom_buttons
{
    cursor: pointer;
}


#lightboxOverlay
{
    width: 100%;
}

#preview_package_text
{
    text-align: center;
    text-transform: uppercase;
    color: #a92626;
    font-style: italic;
    font-weight: bold;
}

#preview_package_price
{
    text-align: center;
    text-transform: uppercase;
    color: gray;
    font-style: italic;
    font-weight: bold;
}



.carousel-item div img
{
    padding: 0;
    width: 100%;
    height: 100%;
}

.carousel-item div
{
    margin: 0;
    padding: 0;
}

.carousel-item
{
    height: 300px;
    max-height: 300px;
    margin: 0;
    padding: 0;
}



/* 



.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next
{
    right: -100px;
}

.carousel-control-prev
{
    left: -100px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
} */



.mobile_br {
    display: block;
}

#local_title
{
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    text-align: right;
    text-shadow: 2px 2px #000000;
    padding-right: 30px;
    font-size: 2em;
}

.left-blue-line
{
    margin-left : 50px;
}

.right-blue-line
{
    margin-right : 50px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #local_title, #selected_tour_title {
        font-size: 4em; /* 1.5x default size */
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #local_title, #selected_tour_title {
        font-size: 45em; /* 1.5x default size */
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #local_title, #selected_tour_title {
        font-size: 4em; /* 1.5x default size */
    }

    .mobile_br {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    

    #local_title, #selected_tour_title {
        font-size: 4em; /* 1.5x default size */
    }

    .mobile_br {
        display: none;
    }
}



.blue-line
{
    background:
    radial-gradient(farthest-side,cyan 98%,transparent 100%) bottom right/10px 10px,
    radial-gradient(farthest-side, cyan 98%,transparent 100%) bottom left /10px 10px,
    linear-gradient(cyan, cyan) bottom/calc(100% - 10px) 10px;
    background-repeat:no-repeat;
    transform: translateY(-50%);
}


.tour_select
{
    cursor: pointer;
}

.tour_title, .tour_infos
{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.caption
{
    background-color: #f5fb75;
    padding: 10px;
}

.thumbnail img {
    height: 300px;
    width: 100%;
}

#tour_list_container
{
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}

#filter_nav
{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#filter_nav > li > a.active {
    border-bottom: 3px solid black;    
}


.filter_region
{
    cursor: pointer;
}


body {
    background-image: url('..//images/photos/local_international.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
/* 
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('..//images/photos/local_international.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */